nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.1rem 0.1rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1rem;
  color:var(--light-color);
  background: transparent ;
  border-radius: 50%;
  display: flex;
  color:var(--light-color);
  font-size: 1.1rem;

}
nav a:hover
{
background: rgba(0,0,0, 0.3);  
}
nav a.active{
  color: var(--color-white);
  background: var(--color-bg);


}
