
.navbar .nav-link {
  color: #fff;
  padding: 10px;
  margin-left: 45px;

  border-radius: 10px;
  align-items: center;
  text-align: center;
}


.navbar .nav-link:hover {
  color: #db7515;
}
.navig {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  background-color: aqua;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #007bff; /* Primary Bootstrap color */
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #007bff; /* Primary Bootstrap color */
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-item-list > *:hover {
  color: #c1c1c1;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
