.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.contact-links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-icon {
  font-size: 2.5rem;
  color: #3b5998;
  margin: 0 20px;
  transition: transform 0.3s ease-in-out;
}

.contact-icon:hover {
  transform: scale(1.2);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  padding: 40px;
  background-color: var(--color-bg-variant);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 10px;
}

.form-icon {
  font-size: 1.5rem;
  color: #ccc;
  margin-right: 10px;
}

.form-input {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: #333;
}

.form-input:focus {
  outline: none;
}

textarea.form-input {
  resize: none;
}

.form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #3b5998;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-submit:hover {
  background-color: #2f477a;
}

@media screen and (max-width: 768px) {
  .contact-form {
    width: 90%;
    padding: 20px;
  }
}