@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
margin: 0%;
padding: 0;
border: 0;
outline: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;

}
:root {
  --primary-color: #4db5ff;
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --white-color: #dedada;
  --color-primary-variant:rgba(77,181,255,0.4);
  --light-color: rgba(255,255,255,0.6);
  --container-width-lg:75%;
  --container-width-md:86%;
  --container-width-sm:90%;
  --transition: all 480ms ease;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}



body {
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
  background:var(--color-bg-variant);
  color: var(--white-color);
  line-height: 1.7;
background-image:url(./assets/bg-texture.png);
  

  font-family: 'Poppins', sans-serif;
  
}
.container{
  width: var(--container-width-lg);
  margin: auto;
}

h1,h2,h3,h4,h5{

font-weight: 500;

}
h1{
  font-size: 2rem;}

section{
    margin-top: 8rem;
  }
section >h2,section>h5{

  text-align: center;
  color: var(--light-color);
}
section >h2{
margin-bottom: 3rem;
color: var(--primary-color);

}
.text-light{

  color:var(--light-color)
}
a {
color: var(--primary-color);
transition: var(--transition)

}
a:hover{
  color: var(--white-color);
}
.btn{

  width:max-content;
  display:inline-block;
  color:var(var(--primary-color));
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid  var(--primary-color);
  transition: var(--transition);
  margin-bottom: 10px;
}
.btn:hover{
background: var(--white-color);
color: var(--color-bg);
border-color: transparent;

}
.btn-primary{
  background: var(--primary-color);
  color: var(--color-bg);
}
img{
  width:100%;
  object-fit: cover;
  display: block;

}

@media screen and (max-width: 600px) {
  body {
    
    overflow-x: hidden;
  }
}
  
  /* Styles for screens smaller than 768px (e.g. mobile devices) */
  .container {
    width: var(--container-width-sm);
    }
    section >h2{
    margin-bottom: 2rem;
  }

  
  @media screen and (max-width: 1024px) {
    
  /* Styles for screens between 769px and 1024px (e.g. tablets) */
  .container {
  width: var(--container-width-md);
  }
  section {
  margin-top: 6rem;
  height: 100vh;
  }
  }

  
  